#app {
  margin: 20px;
}
@media (min-width: 500px) {
  #app {
    max-width: 500px;
    margin: 20px auto;
  }
}
@media (min-width: 769px) {
  #app {
    max-width: 700px;
  }
}

/* Car Card */

.card-car:not(:last-child) {
  margin-bottom: 0;
}
.card-car {
  width: 250px;
}

/* Root page */

.root-page__container-cards-car {
  display: grid;
  gap: 20px;
  justify-content: center;
}
@media (min-width: 769px) {
  .root-page__container-cards-car {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/* Form page */

.form-page__fieldset-air-conditioning {
  display: grid;
  margin: 0 0 20px 0;
}
@media (min-width: 500px) {
  .form-page__fieldset-air-conditioning {
    display: flex;
  }
}

.form-page__fieldset-transmission {
  display: grid;
  margin: 0 0 30px 0;
}
@media (min-width: 500px) {
  .form-page__fieldset-transmission {
    display: flex;
  }
}

.form-page__label-air-conditioning,
.form-page__label-transmission {
  margin: 0 0 5px 0;
}
@media (min-width: 500px) {
  .form-page__label-air-conditioning,
  .form-page__label-transmission {
    margin: 0 15px 0 0;
  }
}

.form-page__container-fieldset-yes,
.form-page__container-fieldset-no,
.form-page__container-fieldset-manual,
.form-page__container-fieldset-automatic {
  display: flex;
  gap: 5px;
}
@media (min-width: 500px) {
  .form-page__container-fieldset-yes,
  .form-page__container-fieldset-no,
  .form-page__container-fieldset-manual,
  .form-page__container-fieldset-automatic {
    margin: 0 10px 0 0;
  }
}

/* Detail page */
.detail-page__container-columns-car-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media (min-width: 320px) {
  .detail-page__container-columns-car-info {
    grid-template-columns: 1fr 1fr ;
  }
}
@media (min-width: 500px) {
  .detail-page__container-columns-car-info {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 769px) {
  .detail-page__container-columns-car-info {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}